body {
    margin: 0;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}
ul.topnav li.right {float: right;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: grey;}

ul.topnav li a.active {background-color: firebrick;}


@media screen and (max-width: 500px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;
  display: block;
  width: 100%;
  text-align: left;
  };
}

body {
    background-color: rgb(139, 107, 63);
}  
.mainTitle {
    color: ivory;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}
table {
    display: table;
    display: block;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    width: 25%;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }
.secondTitle {
    color: ivory;
    display: flex;
    justify-content: center;
    border-style: groove;
    background-color: rgb(29, 27, 27);
}
.manga1 {
   height: 60%;
}
.fantastique {
    width: 75%;
    height: 75%;

}
.ok {
    width: 100%;
    display: flex;
    justify-content: center;
}
.para {
    display: flex;
    justify-content: center;
    font-weight: bolder;
}
image {
  background-image: .jpg;
}